<!DOCTYPE html>
<html>
    <head>
        <title> Acme Products</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1 class = 'text-success'> Acme Products</h1>
        <p class = 'well'> Welcome to Acme Products! Our Best selling product is <a href = 'product/{{highest.item}}'>{{highest.item}} </a><br>
            <a href = '/products'>See all of our products!</a>
        </p>
        
    </body>
</html>