<!DOCTYPE html>
<html>
    <head>
        <title> Acme Products</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href = 'stylesheets/stylesheet.css'>
    </head>
    
    <body>
        <a href = '/'>Home</a>
        <h1>{{product.item}}</h1>
        <div class = 'well'>
            <p> Rating - {{product.rating}}</p>
            <form action = '/product/:{{product.item}}?_method=DELETE' method = 'POST'>
                <button class = 'btn btn-danger'>Delete</button>
            </form>
        </div>
    </body>
</html>
